config MQ_IOSCHED_ADIOS
        tristate "Adaptive Deadline I/O scheduler"
        default y
        help
          The Adaptive Deadline I/O Scheduler (ADIOS) is a multi-queue I/O
          scheduler with learning-based adaptive latency control.
